*{
	padding: 0;
	margin: 0;
}

header{
	color: #0693e3;
	text-align: center;
	padding: 10px;
	font-family: "Times New Roman", Georgia, serif;
}

.banner{
	background-color: #DCDCDC;
    height: 200px;
    display: block;
    padding-top: 30px;
}

.banner .image-baner{
	background-image: url("img/image-baner.png");
	width: 320px;
	height: 200px;
	margin-left: 23%;
	padding-top: 10px;
	background-repeat: no-repeat;
}

.banner .infor{
	text-align: center;
	margin-left: 100px;
	margin-top: -170px;
}

.infor .textPesquise{
	color: #696969;
	font-size:  20px;
}

.infor .textAzul{
	color: #0693e3;
	font-size: 40px;
	margin-left: 50px;
	font-family: "Brush Script MT",cursive;
}

.accordion{
	width: 60%;
	margin: 20px auto;
	color:  #000;
	background-color: #fff;
	padding: 45px 45px;
}

.acordion .container{
	position: relative;
	margin: 10px 10px;
}

.accordion .label{
	background-color: #00008B;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
} 

.accordion .label::before{
	content: '﹀';
	color: #fff;
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 30px;
	transform: translateY(-50%);
}

.accordion .content{
	position: relative;
	background: #fff;
	height: 0;
	font-size: 20px;
	text-align: justify;
	margin-left: 5px;
	width: 780px;
	overflow: hidden;
	transition: 0.5s;
}

.accordion .container.active .content{
	height: 200px;
	overflow-y: visible;
}

.accordion .container.active .label::before{
	content: '︿';
	font-size: 30px;
}



@media(max-width: 850px){
	.image-baner{
		display: none;
	}

	.banner .infor{
	text-align: center;
	margin-top: 50px;
	}
}

